body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}

.link { 
	background: none;
	border: none;
	color: navy;
	cursor: pointer;
	font-size: inherit;
}