<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Passwort Ändern</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
   <div>
      <h1>Passwort Ändern</h1>
      <div class="content">
         <div th:if="${param.error}" class="alert alert-danger" th:text="${param.error}">Fehler</div>
         <div th:if="${param.message}" class="alert alert-info" th:text="${param.message}">Meldung</div>
		 <div th:if="${globalError}" th:text="${globalError}" class="alert alert-danger"></div>
         <form name="f" th:action="@{/saveForgottenPassword}" th:object="${newPassword}" method="POST">
         	<input type="hidden" th:field="*{token}" />
         	<div class="form-group mb-3">
         		<label class="col-form-label">Passwort *</label>
         		<input type="password" th:field="*{password}" class="form-control" required />
         		<p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
         	</div>
         	<div class="form-group mb-3">
         		<label class="col-form-label">Passwort bestätigen *</label>
         		<input type="password" th:field="*{matchingPassword}" class="form-control" required />
         	</div>
         	<div class="form-group mb-5">
         		<input class="btn btn-primary" type="submit" value="Passwort ändern" />
         	</div>
         </form>
      </div>
   </div>
   <footer>
      <a href="/" rel="Mainpage">Startseite</a>
   </footer>
</body>
</html>
