<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Passwort Vergessen</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
   <div>
      <h1>Passwort Vergessen</h1>
      <div class="content">
         <div th:if="${param.error}" class="alert alert-danger" th:text="${param.error}">Fehler</div>
         <div th:if="${param.message}" class="alert alert-info" th:text="${param.message}">Meldung</div>
         <form name="f" th:action="@{/sendPasswordForgottenEmail}" th:object="${emailCheck}" method="POST">
         	<p>
         		Zum ändern Ihres Passworts, müssen Sie vorher Ihren Account per E-Mail bestätigen. 
         	</p>
         	<div class="form-group mb-5">
         		<label class="col-form-label">E-Mail *</label>
         		<input type="email" class="form-control" th:field="*{email}" required />
         		<p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
         	</div>
         	<div class="form-group mb-5">
         		<input class="btn btn-primary" type="submit" value="E-Mail Bestätigung senden" />
         	</div>
         </form>
      </div>
   </div>
   <footer>
      <a href="/" rel="Mainpage">Startseite</a>
   </footer>
</body>
</html>
