<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/components :: baseHead(~{::title}, ~{::link}, ~{::meta}, ~{::script})}">
	<title>Sprechen wir heute mal über Angst</title>
	<meta />
	<link />
	<script></script>
	<style></style>	
</head>

<body>
	<nav class="nav-top" th:replace="~{fragments/components :: navbarTop()}"></nav>
	
	<div class="content-area">
	
      <h1>Sprechen wir heute mal über Angst</h1>
      <div class="content mb-3">
         <section class="post-container">
			<div class="post-content">
				Ich will hier mal was sagen!
			</div>
			<div class="post-info">
				<div>
					[<a href="#">antworten</a>]
				</div>
				<div>
					15.08.2024 12:45:22 von Max Musterfrau
				</div>
			</div>
		</section>
		<section class="post-container">
		  <div class="post-content">
				Ich höre gar nicht zu.
		  </div>
		  <div class="post-info">
				<div>
					[<a href="#">antworten</a>]
				</div>
				<div>
					15.08.2024 12:49:12 von Maxi Mustermann
				</div>
		  </div>
		  <section>
				<blockquote>
					<div class="post-content">
							Warum nicht?
					</div>
					<section>
						<blockquote>
							<div class="post-content">
									Weil ich keine Angst habe!
							  </div>
							  <div class="post-info">
							  		<div>
										[<a href="#">antworten</a>]
									</div>
									<div>
										15.08.2024 13:02:34 von Maxi Mustermann
									</div>
							  </div>
						</blockquote>
					</section>
					<div class="post-info">
						<div>
							[<a href="#">antworten</a>]
						</div>
						<div>
							15.08.2024 12:56:52 von Max Musterfrau
						</div>
					</div>
				</blockquote>
		  </section>
		</section>
		<section class="post-container">
			<div class="post-content">
				Ist da Jemand?
			</div>
			<div class="post-info">
				<div>
					[<a href="#">antworten</a>]
				</div>
				<div>
					16.08.2024 16:25:36 von Horst Gästebuch
				</div>
			</div>
		</section>
		
		<div class="bottom-ctl">
			<button class="btn btn-primary">Neuen Beitrag</button>
		</div>
      </div>
   </div>
   
	<footer class="nav-top" th:replace="~{fragments/components :: footer}"></footer>
</body>
</html>
