<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/components :: baseHead(~{::title}, ~{::link}, ~{::meta}, ~{::script})}">
	<title>Selbsthilfe Plattform</title>
	<meta />
	<link />
	<script></script>
	<style></style>	
</head>
<body>
	<nav class="nav-top" th:replace="~{fragments/components :: navbarTop()}"></nav>
	
	<div class="content-area content-low-height">
	    <h1 th:if="${me}" th:text="|Hallo, ${me.user.firstName} ${me.user.lastName}!|"></h1>
	    <h1 th:unless="${me}" th:text="|Hallo, ${name}!|"></h1>
	    
	    <div class="mb-5">
	        Herzlich Willkommen bei der Selbsthilfe Plattform. 
	    </div>
	    <div th:if="${me}">
            <div class="mb-3">
                Was möchtest du tun?
            </div>

            <div th:if="${me.user.hasRole('USER')}" class="mb-3">
                <a href="/overview" rel="Overview">Selbsthilfegruppen anzeigen</a>
            </div>
            <div th:if="${me.isAdmin()}" class="mb-3">
                <a href="/admin" rel="Admin">Zur Administration</a>
            </div>
            <div th:if="${me.user.hasRole('USER')}" class="mb-5">
                <a href="/updateOldPassword" rel="Passwortaenderung">Passwort ändern</a>
            </div>
        </div>
		<div th:unless="${me}" class="mb-3">
		    <p>
		    	<a href="/login" class="btn btn-primary" rel="Login">Anmelden</a>
		    </p>
		    <p>
		    	Oder
		    </p>
		    <p>
		    	<a href="/register/" rel="Registrieren">Account anlegen</a>
		    </p>
		</div>
	</div>
	
	<footer class="nav-top" th:replace="~{fragments/components :: footer}"></footer>
</body>
</html>
