<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Selbsthilfe Plattform</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
    <h1 th:if="${me}" th:text="|Hallo, ${me.user.firstName} ${me.user.lastName}!|"></h1>
    <h1 th:unless="${me}" th:text="|Hallo, ${name}!|"></h1>
    <div class="mb-5">
        Herzlich Willkommen bei der Selbsthilfe Plattform. 
    </div>
    <footer>
        <div th:if="${me}">
            <div class="mb-3">
                Was möchtest du tun?
            </div>

            <div th:if="${me.user.hasRole('USER')}" class="mb-3">
                <a href="/overview" rel="Overview">Selbsthilfegruppen anzeigen</a>
            </div>
            <div th:if="${me.isAdmin()}" class="mb-3">
                <a href="/admin" rel="Admin">Zur Administration</a>
            </div>
            <div th:if="${me.user.hasRole('USER')}" class="mb-5">
                <a href="/updateOldPassword" rel="Passwortaenderung">Passwort ändern</a>
            </div>
            
            <form th:action="@{/logout}" method="POST">
                <input class="link" type="submit" value="Abmelden" />
            </form>
        </div>
		<div th:unless="${me}" class="mb-3">
		    <a href="/register/" rel="Registrieren">Account anlegen</a>
		</div>
        <div th:unless="${me}">
        	<p>oder</p>
			<a href="/login" rel="Logout">Anmelden</a>
        </div>
    </footer>
</body>
</html>
