<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Erfolgreich abgemeldet</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Danke für deinen Besuch</h1>
    <div class="mb-5">
        Du hast dich erfolgreich abgemeldet
    </div>
    <footer>
        <a href="/" rel="Mainpage">Startseite</a>
    </footer>
</body>
</html>
