<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/components :: baseHead(~{::title}, ~{::link}, ~{::meta}, ~{::script})}">
	<title>Erfolgreich abgemeldet</title>
	<meta />
	<link />
	<script></script>
	<style></style>	
</head>

<body>
	<nav class="nav-top" th:replace="~{fragments/components :: navbarTop()}"></nav>
	
	<div class="content-area content-low-height">
	    <h1>Danke für deinen Besuch</h1>
	    <div class="mb-3">
	        Du hast dich erfolgreich abgemeldet
	    </div>
	    <div>
	    	<a href="/" rel="Start">Startseite</a>
	    </div>
	</div>
	
	<footer class="nav-top" th:replace="~{fragments/components :: footer}"></footer>
</body>
</html>
