<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Alle Gruppen im Überblick</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
   <div>
      <h1>Alle Gruppen im Überblick</h1>
      <div class="content mb-3">
      	
      	<div class="card" th:if="${groups}" th:each="group : ${groups}">
		  <div class="card-header inline-content">
		  	<div>
			    erstellt <span th:text="${#dates.format(group.created, 'dd.MM.yyyy HH:mm')}"></span>
		  	</div>
		  	<div>
		  		von <span th:text="${group.creator.firstName} + ' ' + ${group.creator.lastName}"></span>
		  	</div>
		  </div>
		  <div class="card-body">
		    <h5 class="card-title" th:text="${group.title}">Titel</h5>
		    <p th:if="${group.description.length > 0}" class="card-text" th:text="${group.description}">Beschreibung</p>
		    <p th:unless="${group.description.length > 0}" class="card-text"><i>keine Beschreibung hinzugefügt</i></p>
		    <a th:if="${group.authorized}" th:href="'/group/' + ${group.id}" class="btn btn-success">Zur Gruppe</a>
		    <a th:unless="${group.authorized}" th:href="'/group/register/' + ${group.id}" class="btn btn-primary">Zum Beitritt anmelden</a>
		  </div>
		</div>
		<div th:unless="${groups.size() > 0}">
			<p>
				Noch keine Gruppen vorhanden.
			</p>
		</div>
      	
		<div class="bottom-ctl right">
			<a href="/group/new" rel="Neue Gruppe erstellen" class="btn btn-primary">Neue Gruppe erstellen</a>
		</div>
      </div>
   </div>
   <footer>
      <a href="/" rel="Mainpage">Startseite</a>
   </footer>
</body>
</html>
