<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Bei Gruppe Anmelden</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
   <div>
      <h1>Bei Gruppe Anmelden</h1>
      <div class="content">
         <div th:if="${param.error}" class="alert alert-danger" th:text="${param.error}">Fehler</div>
         <div th:if="${message}" class="alert alert-info" th:text="${message}">Meldung</div>
         <p>
         	Sie möchten sich bei der Gruppe mit dem Titel '<span th:text="${groupDto.title}">Titel</span>' anmelden?
         </p>
         <form name="f" th:action="@{/group/sendMessageToCreator}" th:object="${groupDto}" method="POST">
         	<div class="form-group mb-3">
         		<label class="col-form-label">Nachricht an Gruppen-Verwalter</label>
         		<textarea cols="3" rows="5" th:field="*{msgToCreator}" class="form-control"></textarea>
         		<p class="alert alert-danger" th:if="${#fields.hasErrors('msgToCreator')}" th:errors="*{msgToCreator}"></p>
         	</div>
         	<div class="form-group mb-5">
         		<input class="btn btn-primary" type="submit" value="Anfrage senden" />
         	</div>
         </form>
      </div>
   </div>
   <footer>
      <a href="/overview" rel="Overview">Übersicht</a>
   </footer>
</body>
</html>
