<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/components :: baseHead(~{::title}, ~{::link}, ~{::meta}, ~{::script})}">
	<title>Passwort Ändern</title>
	<meta />
	<link />
	<script></script>
	<style></style>	
</head>

<body>
	<nav class="nav-top" th:replace="~{fragments/components :: navbarTop()}"></nav>
	
	<div class="content-area content-low-height">
      <h1>Passwort Ändern</h1>
      
      <div class="content">
         <div th:if="${param.error}" class="alert alert-danger" th:text="${param.error}">Fehler</div>
         <div th:if="${success}" class="alert alert-info" th:text="${success}">Meldung</div>
		 <div th:if="${globalError}" th:text="${globalError}" class="alert alert-danger"></div>
         <form name="f" th:action="@{/saveUpdatedPassword}" th:object="${updatePassword}" method="POST">
         	<p>Regelmäßige Änderungen des alten Passworts kann die Sicherheit erhöhen.</p>
         	<div class="form-group mb-3">
         		<label class="col-form-label">altes Passwort *</label>
         		<input type="password" th:field="*{oldPassword}" class="form-control" required />
         		<p class="alert alert-danger" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></p>
         	</div>
         	<div class="form-group mb-3">
         		<label class="col-form-label">neues Passwort *</label>
         		<input type="password" th:field="*{password}" class="form-control" required />
         		<p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
         	</div>
         	<div class="form-group mb-3">
         		<label class="col-form-label">neues Passwort bestätigen *</label>
         		<input type="password" th:field="*{matchingPassword}" class="form-control" required />
         	</div>
         	<div class="form-group mb-5">
         		<input class="btn btn-primary" type="submit" value="Passwort ändern" />
         	</div>
         </form>
      </div>
   </div>

	<footer class="nav-top" th:replace="~{fragments/components :: footer}"></footer>
</body>
</html>
